
input[type="input"], button, select, textarea {	outline: none;	-webkit-appearance: none;}li {list-style: none; }
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{	margin: 0;	padding: 0;}

/* 头部 */
.header{ background: url(../images/common/bg.png) repeat-x; height: 90px; vertical-align: middle; line-height: 90px; padding:0 25px; }
.header .am-fl img{ display: inline-block;}
.user-list li{ float: left; margin-left: 15px;}
.user-list .userimg{ width: 40px; height: 40px; display: inline-block; border-radius: 50%; overflow: hidden; vertical-align: middle; }
.user-list .userimg img{max-width: 100%; display: block;}
.user-list .admin{ color: #fff;}
.am-dropdown-content.person-dropdown-content{width: 200px; background: #fff; border: 1px solid #dddddd; z-index: 9999;  top: 80px; right: -20px;  }
.am-dropdown .am-dropdown-content:before{border: 0; border-width: 0;}
.person-dropdown-content.am-dropdown-content>li>a{ padding: 0;}
.person-dropdown-content li:hover{ background: #f5f5f5}
.person-dropdown-content li{float: none; padding-left: 15px;}
.person-dropdown-content li a{ height: 36px; line-height: 36px; padding: 0;}
.person-dropdown-content li i{ color: #999;}


/* 侧边导航栏 */

.left-sidebar { transition: all 0.4s ease-in-out; width: 275px; min-height: 764px;  position: absolute;  z-index: 1104;  top: 90px;  left: 0px; }
.left-sidebar.xs-active { left: 0px; }
.left-sidebar.active {  left: -275px; }

.sidebar-nav { margin: 0; background: #fff; border-bottom: 1px solid #fff;}
.sidebar-nav .sidebar-nav-link{background: #15518c; }
.sidebar-nav .sidebar-nav-link a.active{ background: #fff; color: #15518c; }
.sidebar-nav .sidebar-nav-link a:hover{ background: #217dd9; }
.sidebar-nav .sidebar-nav-link.active .sidebar-nav-sub-title { color: #15518c;}
.sidebar-nav  .sidebar-nav-link a {display: block; color: #fff; padding: 0 17px;  font-size: 20px; font-weight: normal;  cursor: pointer; font-family: "黑体"; }
.sidebar-nav li{  margin-bottom: 1px; height: 60px; line-height: 60px;}
.sidebar-nav-link .sidebar-nav-link-logo{ display: inline-block; vertical-align: middle; width: 30px; height: 30px; background: url(../images/common/sprites.png) no-repeat;}

.sidebar-nav-link .icon-home{ background-position: 0 -30px;}
.sidebar-nav-link .icon-work{ background-position: -30px -30px;}
.sidebar-nav-link .icon-desktop{ background-position: -60px -30px;}
.sidebar-nav-link .icon-todo{ background-position: -90px -30px;}
.sidebar-nav-link .icon-doing{ background-position: -120px -30px;}
.sidebar-nav-link .icon-done{ background-position: -150px -30px;}
.sidebar-nav-link .icon-accdoing{ background-position: -180px -30px;}
.sidebar-nav-link .icon-mandoing{ background-position: -210px -30px;}
.sidebar-nav-link .icon-draft{ background-position: -240px -30px;}
.sidebar-nav-link .icon-new{ background-position: -270px -30px;}
/* 鼠标经过 */
.sidebar-nav-link a.active .icon-home{ background-position: 0 0;}
.sidebar-nav-link a.active .icon-work{ background-position: -30px 0;}
.sidebar-nav-link a.active .icon-desktop{ background-position: -60px 0;}
.sidebar-nav-link a.active .icon-todo{ background-position: -90px 0;}
.sidebar-nav-link a.active .icon-doing{ background-position: -120px 0;}
.sidebar-nav-link a.active .icon-done{ background-position: -150px 0;}
.sidebar-nav-link a.active .icon-accdoing{ background-position: -180px 0;}
.sidebar-nav-link a.active .icon-mandoing{ background-position: -210px 0;}
.sidebar-nav-link a.active .icon-draft{ background-position: -240px 0;}
.sidebar-nav-link a.active .icon-new{ background-position: -270px 0;}

/* 内容区域 */
.content-wrapper {  transition: all 0.4s ease-in-out;  position: relative; width: 1645px;  margin-left: 275px;  z-index: 1101;  max-height: 764px;  border-bottom-left-radius: 3px;}

/* 标题 */
/* .row-content .content-title{ background: #f0f6fc; height: 60px; line-height: 60px; border-bottom:1px solid #c3ccdd; padding: 0 20px 0 48px;}
.row-content .content-title span{ font-size: 20px; display: inline-block; height: 60px; line-height: 60px; padding: 0 20px; color: #217dd9; border-bottom: 2px solid #3184d6; position: relative;}
.row-content .content-title span .icon-close{ display: inline-block; width: 32px; height: 32px; background: url(../images/common/close.png) no-repeat; cursor: pointer; position: absolute; top: 0; right: -10px;} */

.am-nav-tabs.content-title{ padding: 0 20px 0 48px; background: #f0f6fc; border-bottom:1px solid #c3ccdd;  height: 60px; line-height: 60px; }

.am-nav-tabs.content-title>li>a{ display: block; cursor: pointer; background: #f0f6fc;  height: 60px; line-height: 60px; font-size: 20px; font-family: "黑体"; font-weight: 600; padding: 0 3rem; color: #217dd9; border-bottom: 2px solid #3184d6; border-right: 0; border-left: 0; }
.am-nav-tabs.content-title>li{ position: relative; height: 60px; line-height: 60px; }
.am-nav-tabs.content-title>li .am-icon-close{ position: absolute; top: 0; right: 10px; }
.am-nav-tabs.content-title>li.am-active>a, .am-nav-tabs.content-title>li.am-active>a:focus, .am-nav-tabs.content-title>li.am-active>a:hover{  background: #f0f6fc; border-bottom: 2px solid #3184d6; border-right: 0; border-left: 0;}
.am-tabs-bd.content-tab{border: 0;}
.am-tabs-bd.content-tab .am-tab-panel{ padding: 0;}





/*  工具 */
.tool-list li {float: left; height: 60px; line-height: 60px; margin-right: 15px; cursor: pointer;}
.tool-list li .icon-tool{ display: inline-block; width: 30px; height: 30px; background: url(../images/common/sprites.png) no-repeat; vertical-align: middle; }
.tool-list li .icon-refresh{ background-position: 0 -60px;}
.tool-list li .icon-theme{ background-position: -30px -60px;}
.tool-list li .icon-remind{ background-position: -60px -60px;}
.tool-list li .icon-setting{ background-position: -90px -60px;}

/* 我的桌面 */
.plate-content{overflow: hidden; width: 1084px;}
.right-line{border-right: 1px solid #c3ccdd;}
.bottom-line{border-bottom: 1px solid #c3ccdd;}
.plate-content .plate-530:last-child{border-right: 0}
.plate-530 {border-right: 1px solid #c3ccdd; width: 530px; margin: 0; padding: 20px 30px 10px 40px;}
.plate-530 .am-list{ margin-bottom: 0;}
.plate-530 .am-list li{ border-bottom: 1px solid #f2f2f2; border-top: 0; margin-bottom: 0;   }
.plate-530 .am-list li:hover{ background: #f0f6fc;}
.plate-530 .am-list li .am-list-item-hd{color: #333; font-size: 16px; background: url(../images/common/icon.jpg) no-repeat 7px center; padding-left: 25px;}
.plate-530 .am-list-news-bd .am-list-news-more{ font-size: 16px; color: #8c8c8c; line-height: 50px;}
.plate-530 .am-list-news-hd { border-bottom: 1px solid #59a4f0; padding: 0; margin-bottom: 5px;}
.plate-530 .am-list-news-hd h2{ line-height: 5rem; font-family: "Segoe UI"; font-size: 20px;}
.plate-530 .am-list-news-hd .total-quest{ font-size: 16px; color: #333; font-weight: 600;}
.plate-530 .am-list-news-hd .total-quest i { font-style: normal; display: inline-block; width: 60px; height: 60px; font-size: 30px; line-height: 60px; background: #59a4f0; text-align: center; color: #fff; border-radius: 5px; margin-bottom: -5px;}

.plate-content .plate-black{ padding: 10px 20px 10px 40px; }
.plate-content .plate-black .plate-title{  border-bottom: 1px solid #59a4f0;}
.plate-content .plate-black .plate-title h2{height: 50px; line-height: 50px;}
.total-list{padding-top: 25px; overflow: hidden;}
.total-list .total-li{ width: 237px; height: 256px; background: #f0f6fc; text-align: center; border-radius: 15px; padding: 35px 0 0 0; float: left; margin-right: 25px;}
.total-list .total-li:last-child{ margin-right: 0;}
.total-list .total-li .date{ display: inline-block; width: 100px; height: 40px; background: #59a4f0; color: #fff; line-height: 40px; border-radius: 7px;}
.total-list .total-li p{ font-size: 16px; font-family: "宋体"; line-height: 26px; margin-top: 10px; color: #4c4c4c; font-weight: 700;}
.total-list .total-li ol{  overflow: hidden; padding-left: 25px;}
.total-list .total-li ol li{float: left; width: 90px; background: url(../images/common/icon2.jpg) no-repeat right center;  padding: 8px 0;}
.total-list .total-li ol li:last-child{background: none;}
.total-list .total-li ol li span{ color: #4d4d4d; font-size: 30px; font-family: Arial;}
.total-list .total-li ol li p{ font-family: "宋体"; color: #4c4c4c; font-size: 16px;}

/* 右边区域 */

.right-content{ padding: 20px 30px 7px 40px; width: 540px;}
.right-content .plate-black .plate-title h2{height: 5rem; line-height: 5rem; }
.right-content .plate-black .plate-title{  border-bottom: 1px solid #59a4f0;}
.right-content .questimg{ margin-top: 48px;}
.summary-list{ padding: 50px 0 0 20px;}
.summary-list li label{ width: 150px; font-size: 14px; font-family: "宋体"; color: #1a1a1a; line-height: 24px; text-align: right;}
.summary-list li span{ height: 10px; width:230px; border-radius: 5px; display: inline-block;  }
.summary-list li span i{height: 10px; width:290px; border-radius: 5px; display: inline-block; position: relative; }
.summary-list li span i.red{ background: #eb8c7f;}
.summary-list li span i.orange{ background: #fec76c;}
.summary-list li span i.yellow{ background: #f0e564;}
.summary-list li span i.green{ background: #98c95a;}
.summary-list li span i.light-blue{ background: #64decf;}
.summary-list li span i.blue{ background: #82c1ea;}
.summary-list li span i.dark-blue{ background: #9bacda;}
.summary-list li span b{ position: absolute; top: -6px; right: -15px;  font-family: "宋体";  font-style: normal; font-size: 14px; }

/* 处理中问题列表 */
.content-area .plate-black{ padding: 0 20px 10px 40px; }
.content-area .plate-530 .am-list-news-hd .total-quest{ font-size: 20px; line-height: 30px;}
.content-area .plate-530 .am-list-news-hd .total-quest i{ display: inline; background: none; color: #59a4f0; font-family: Arial; font-size: 20px; }

.plate-530 .am-list.list-h45 li{ height: 45px; line-height: 45px;}
.plate-530 .am-list.list-h45 li .am-list-item-hd{background: none;}
.plate-530 .am-list.list-h45>li>a{ padding: 0; height: 45px; line-height: 45px; }
.plate-530 .am-list.list-h45 .am-look{top: 0.3rem; position: absolute;  right: 5px; font-size: 1.6rem; width: 98px; height: 32px; line-height: 32px; border-radius: 1.6rem; background: #59a4f0; text-align: center; color: #fff; border: 1px solid #fff;}
.plate-530 .am-list.list-h45 .am-look:hover{}










/* 底部 */
.foot{ height: 35px; line-height: 35px; background: #f1f1f1; border-top: 1px solid #cacaca; padding: 0 20px;}
.foot p{ background: url(../images/common/icon3.jpg) no-repeat 10px center; padding-left: 40px; font-size: 14px; line-height: 35px; color: #8b8b8b;}
.foot span{font-size: 14px; line-height: 35px; color: #8b8b8b;}








/* 主题 */
.theme-blue .left-sidebar{ background: #15518c;}













@media screen and (max-width: 1024px) {
.left-sidebar {  padding-top: 111px;   }

}





































































