html{overflow-x: hidden;}html,body{ height: 100%;}
input[type="input"], button, select, textarea {	outline: none;	-webkit-appearance: none;}li {list-style: none; }
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{	margin: 0;	padding: 0;}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.bg{ background: url(../images/bg.jpg) no-repeat; background-size: cover;}
.mr7{ margin-right: 7px;}.mr30{margin-right: 30px;}.mr8{ margin-right: 8px;}.mr9{ margin-right: 9px;}
/* 首页 */
header{ height: 70px; line-height: 70px; background: url(../images/headerbg.png) right center no-repeat; }
header .user-list{ float: right; margin-right: 40px;}
header .user-list li{ color: #999; float: left; line-height: 70px; font-size: 26px;  cursor: pointer; padding: 0 20px;}
header .user-list li:hover{ color: #fff;}
header .user-list li i{ display: inline-block; width: 38px; height: 36px; background: url(../images/img1.png) no-repeat; vertical-align: middle; margin-right: 10px;}
header .user-list li i.icon-user{ background-position: 0 -36px;}
header .user-list li i.icon-change{ background-position: -38px -36px;}
header .user-list li i.icon-out{ background-position: -76px -36px;}

header .user-list li:hover i.icon-user{ background-position: 0 0;}
header .user-list li:hover i.icon-change{ background-position: -38px 0;}
header .user-list li:hover i.icon-out{ background-position: -76px 0;}
.hometitle {text-align: center; margin-top: 115px;}
.hometitle img{max-width: 100%;}
.clearfix::after,.clearfix::before{ clear: both;  content: " ";
    display: table;}
.w1114{ width: 1114px; margin: 0 auto;}
.home-list{padding-top: 90px;}
.home-list li{ float: left; margin-bottom: 6px;}
.home-list li a{ display: block; background: rgba(44, 70, 115, 0.5); border: 1px solid #8297b2; text-align: center; text-decoration: none; color: #fff; position: relative;}
.home-list li a:hover{background: rgba(63, 99, 155, 0.5); }
.home-list li .w320{ width: 320px; height: 320px; }
.home-list li .w430{ width: 430px; height: 320px;}
.home-list li .w155{ width: 155px; height: 155px;}
.home-list li .w210{ width: 210px; height: 155px;}
.home-list li .w320 p,.home-list li .w430 p{ font-family: "黑体"; font-size: 30px; line-height: 70px;}
.home-list li .icon-h160{  display: inline-block; width: 145px; height: 160px; background: url(../images/sprite.png) no-repeat; margin-top: 28px;}
.home-list li .icon-h160.icon2{ background-position: -145px 0;}
.home-list li .icon-h160.icon3{ background-position: -290px 0;}
.home-list li .icon-h64{ display: inline-block; width: 75px; height: 64px; background: url(../images/sprite.png) no-repeat; margin-top: 28px;}
.home-list li .icon-h64.icon1{  background-position: -0 -160px;}
.home-list li .icon-h64.icon2{  background-position: -75px -160px;}
.home-list li .icon-h64.icon3{  background-position: -150px -160px;}
.home-list li .icon-h64.icon4{  background-position: -225px -160px;}
.home-list li .icon-h64.icon5{  background-position: -300px -160px;}
.home-list li .icon-h64.icon6{  background-position: -375px -160px;}
.home-list li .w155 p,.home-list li .w210 p{ font-family: "黑体"; font-size: 20px; line-height: 50px;}

.home-list li a .top-left ,.home-list li a .top-right,.home-list li a .bottom-left,.home-list li a .bottom-right{ position: absolute; display: block; width: 40px; height: 40px; background: url(../images/horn.png) no-repeat;}
.home-list li a .top-left{ background-position: 0 0; left: -1px; top: -1px; }
.home-list li a .top-right{background-position: -40px 0;  right:-1px; top: -1px;}
.home-list li a .bottom-left{background-position: 0 -40px; left: -1px; bottom: -1px; }
.home-list li a .bottom-right{background-position: -40px -40px;  right: -1px; bottom: -1px;}
.copyright{ font-size: 20px; color: #fff;  font-family: "黑体"; text-align: center; margin-top: 50px;}


/* 一夜图 */
.header{position: relative;}
.header .title{ position: absolute; height: 125px; width: 688px; top: 0; left: 0; background:url(../images/icon3.png) no-repeat;}
.header .title h2{ color: #fff; line-height: 125px; padding-left: 26px; font-size: 24px; font-family: "黑体";}
.header .title span{position: absolute; right: 54px; top: 20px; color: #fff; font-size: 24px; font-family: "黑体";}
.header .title span .img{ width: 42px; height: 76px; display: inline-block;}
.header .title span .img img{ max-width: 100%;} 
.headernav{border-bottom: 3px solid #23a3fd; overflow: hidden;
  background: linear-gradient(top, #031226, #0b1f42);
  background: -ms-linear-gradient(top, #031226, #0b1f42);
  background: -webkit-linear-gradient(top, #031226, #0b1f42);
  background: -moz-linear-gradient(top, #031226, #0b1f42);
}
.header .header-list{margin-right: 40px;}
.header .header-list li{ float: left; line-height: 50px; padding: 15px 0; }
.header .header-list li:last-child a{ border-right:0;}
.header .header-list li a{ color: #fff; display: inline-block; vertical-align: middle; padding: 0 25px; font-size: 16px;  border-right: 1px solid #728298; }
.header .header-list li.active,.header .header-list li:hover{background: #0e3253; }
.header .user-list li{ float: left; line-height: 50px; padding: 15px 0; }
.header .user-list li a{ color: #fff; display: inline-block; vertical-align: middle; padding: 0 25px;  font-size: 16px;  }
.header .user-list .icon-user{ display: inline-block; width: 40px; height: 40px; background: url(../images/icon1.png) no-repeat; vertical-align: middle; margin-right: 5px; }
.header .user-list .icon-home{display: inline-block; width: 40px; height: 40px; background: url(../images/icon2.png) no-repeat; vertical-align: middle; margin-right: 5px;}

.header .sub-title{ height: 40px; background: #bfd1e2; overflow: hidden;}
.sub-title .tool-list li{float: left; margin-right: 10px;}
.sub-title .tool-list li a{ color: #144073; font-size: 16px; line-height: 40px; font-family: "黑体"; }
.sub-title .tool-list li i{ display: inline-block; width: 28px; height: 28px; line-height: 40px; margin-right: 5px; background: url(../images/sprites1.png) no-repeat; vertical-align: middle;}
.sub-title .tool-list li i.icon1{ background-position: 0 0;}
.sub-title .tool-list li i.icon2{ background-position: -28px 0;}
.sub-title .tool-list li i.icon3{background-position: -56px 0;}
.sub-title .tool-list li i.icon4{background-position: -84px 0;}
.sub-title .tool-list li i.icon5{background-position: -112px 0;}
.sub-title .tool-list li i.icon6{background-position: -140px 0;}
.sub-title .tool-list li i.icon7{background-position: -168px 0;}

/* isade */

.left-isder{ min-height: 700px; background: url(../images/bg1.jpg) repeat; padding-top: 30px; max-width: 390px;}
.left-isder .am-tabs{width: 95%;  margin: 0 auto; }
.left-isder .am-nav-tabs>li>a,.left-isder .am-nav-tabs>li>a:focus,.left-isder .am-nav-tabs>li>a:hover{ color: #fff;}
.left-isder .am-nav-tabs>li.am-active>a,.left-isder .am-nav-tabs>li.am-active>a:focus,.left-isder .am-nav-tabs>li.am-active>a:hover{ background: #233453; color: #23a1fa;     border: 1px solid #1091de; border-bottom-color: transparent;}
.left-isder .am-nav-tabs{border-bottom: 1px solid #1091de;}
.left-isder .am-tabs-bd{border: 1px solid #1091de; border-top: none; background: #233453;}
.left-isder .am-nav>li>a:focus,.left-isder .am-nav>li>a:hover{ background: #233453; border-bottom: 1px solid #1091de;}
.left-isder .am-nav-tabs>li>a {  border: 1px solid transparent; }

.contentinfo .mapcontent{max-height: 700px; overflow: hidden; position: relative;}
.contentinfo .mapcontent img{max-width: 100%;}


.layer-plant{ background: #0c1f3b;position: absolute;}
.layer-plant.location{ width: 370px; height: 450px; }
.layer-plant .layer-title{position: relative; height: 30px; line-height: 30px; font-size: 14px; font-family: "宋体"; color: #fff; background: #23a3fd;  padding-left: 10px;}
.location .layer-title span{position: absolute; right: 10px; top: 0px; cursor: pointer;}
.location .serch-result{border: 2px solid #23a3fd; width: 330px; height: 315px; margin: 0 auto;}
.location .search-bar{ margin: 15px auto; width: 330px;}
.location .search-bar input{ height: 40px; line-height: 40px; border: 0; padding-left: 10px;   border-radius: 10px; width: 330px;}








