<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="AssemblyResourceLoader-Integrated" />
            <add name="AssemblyResourceLoader-Integrated" path="WebResource.axd" verb="*" type="System.Web.Handlers.AssemblyResourceLoader" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>
