.header .center{ width: 50%;}
.header .center img{max-width: 100%;}
.navbar{ background: #425383;}

.swiper-slide img{max-width: 100%;}
.navbar-fixed.index .page-content{ padding-top: 0;}
.index .navbar{ background: transparent;}

.xifuinfo{ background: #425383; color: #fff; text-align: center; padding: 10px 15px; font-family: "microsoft yahei"; font-size: 12px; line-height: 22px; position: relative; margin-top: -90px; z-index: 99;}

.navbar-fixed .isade-nav{ padding-top: 0;}
.isade-nav .logo img{ max-width: 100%;}
.isade-nav .login-regedit{text-align: center; margin-top: 20px;}
.isade-nav .login-regedit span{ display: block; width: 50px; height: 50px; margin-bottom: 5px; }
.isade-nav .login-regedit span img{max-width: 100%;}
.isade-nav .login-regedit a{ display: inline-block; text-align: center;}
.isade-nav .content-block{ margin: 20px auto;}
.isade-nav .close-panel .icon{ width: 40px; height: 40px; background: url(../images/common/sprites.png) no-repeat;}

.isade-nav .close-panel .icon1{background-position: 0 0;}
.isade-nav .close-panel .icon2{background-position: -40px 0;}
.isade-nav .close-panel .icon3{background-position: -80px 0;}
.isade-nav .close-panel .icon4{background-position: -120px 0;}
.isade-nav .close-panel .icon5{background-position: -160px 0;}
.isade-nav .close-panel .icon6{background-position: -200px 0;}
.isade-nav .list-block .close-panel .item-title{ color: #898989;}
.isade-nav .list-block .close-panel.active .item-title{ color: #425283; }
.isade-nav .list-block{ margin: 20px auto;}
.isade-nav .list-block .active{ background: #f7f7f7;}
.isade-nav .list-block .active .close-panel .icon1{background-position: 0 -40px;}
.isade-nav .list-block .active .close-panel .icon2{background-position: -40px -40px;}
.isade-nav .list-block .active .close-panel .icon3{background-position: -80px -40px;}
.isade-nav .list-block .active .close-panel .icon4{background-position: -120px -40px;}
.isade-nav .list-block .active .close-panel .icon5{background-position: -160px -40px;}
.isade-nav .list-block .active .close-panel .icon6{background-position: -200px -40px;}

.isade-nav .list-block .item-inner:after{background: none;}
.isade-nav .list-block ul:before{background: none;}
/* 动态新闻 */
.newimg img{max-width: 100%;}
.news-list .text-right{width: 50%; }
.list-block.news-title .item-inner:after{ height: 0; }
.news-list .item-inner .item-title{ color: #333; text-overflow: -o-ellipsis-lastline;  overflow: hidden;  text-overflow: ellipsis;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space:normal; }
.news-list .item-inner .item-subtitle{  color: #666; line-height: 24px;}
.news-list .item-inner .item-text{ color: #666; line-height: 24px; margin-top: 5px;}
.content-block .list-block.news-title ,.content-block .list-block.news-list{margin: 0 auto;}
/* 加载 */
.infinite-scroll-preloader {
    margin-bottom: 10px;
    text-align: center;
  }
.infinite-scroll-preloader .preloader {
    width:34px;
    height:34px;
  }        
/* 联系我们 */

  .facebook-card .card-header {  display: block;   padding: 10px; }
  .facebook-card .facebook-avatar {   float: left;  }
  .facebook-card .facebook-name {margin-left: 44px; font-size: 14px; font-weight: 500;  }
  .facebook-card .facebook-date {margin-left: 44px; font-size: 13px; color: #8e8e93;  }
  .facebook-card .card-footer {  background: #fafafa; }
  .facebook-card .card-footer a { color: #81848b;  font-weight: 500; }
  .facebook-card .card-content img {  display: block; }
  .facebook-card .card-content-inner { padding: 15px 10px; }  

.erweima{width: 60%; margin: 0 auto;}
.erweima img{ max-width: 100%; display: block;}
.formitem {width: 90%; margin: 10px auto;}
.formitem input{ display: block; width: 100%; margin-left: -10px; padding-left: 10px; height: 30px; line-height: 30px; border: 1px solid #e5e5e5;}
.formitem textarea{ width: 97%; margin-left: -10px; color: #999; padding: 10px;  border: 1px solid #e5e5e5; height: 90px; }

.rongzi-list ::-webkit-input-placeholder { /* WebKit browsers */
  direction: rtl;
}
.rongzi-list :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  direction: rtl;
}
.rongzi-list ::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
  direction: rtl;
}
.rongzi-list :-ms-input-placeholder { /* Internet Explorer 10+ */
  direction: rtl;
}
.rongzi-list{ padding: 0; list-style: none; margin: -30px auto 10px;}
.rongzi-list input{ text-align: right; }
.rongzi-list  .item-title{ color: #333; font-size: 14px;}
.rongzi-list .tips{ width: 100%; color: #333; font-size: 12px; text-align: center; padding-bottom: 30px;}
.rongzi-list .item-inner  .item-after input{ font-size: 14px;}
.remarks{ padding: 10px 16px;}
.remarks .remarks-title{ font-size: 14px; color: #333; font-weight: normal;}
.remarks textarea{ border: 0; background: #f2f4f6; border-radius: 6px; width: 100%; height: 50px; padding: 10px; margin-left: -10px;}
.remarks .button-big{ background: #c0c2cc; color: #fff; margin-top: 20px;}

.enterlist .card-header img{ max-width: 100%;}
.enterlist .card-header,.enterlist .card-footer ,.enterlist .card-content-inner{padding: 0;}
.enterlist .card-footer:before,.enterlist .card-header:after{ height: 0;}
.enterlist .card{box-shadow: none;}
.enterlist .card-footer .before span{ display: inline-block; padding: 2px  6px; background: #f3f4f6; color: #5f6171; margin-right: 5px; }
.enterlist .card-footer .after{ color: #ffb600; font-weight: bold;}
.enterlist .card-content-inner p{ color: #aaacb4; margin: 0;}
.enterlist .card-content-inner .color-gray{ color: #333; font-size: 16px;}
.enterlist .card-content{ padding-bottom: 30px;}

.enterprisetouzi{ width: 100%; margin-top: 20px;  }
.enterprisetouzi .progressbar{ position: relative;}
.enterprisetouzi .progressbar .jindu{width: 100%; height: 15px; border-radius: 7px; background: #ccc; margin-top: 10px;}
.enterprisetouzi .progressbar .jindu div{ background: linear-gradient(to right,#1e9bfc, #06e5e2); height: 15px; border-radius: 7px; }
.enterprisetouzi .progressbar p{ position: absolute; font-size: 12px; top: 0; padding: 0; margin: 0; text-align: center; width: 100%; color: #494949;}

.tab-title{border-bottom: 2px solid #f3f4f6;}
.tab-title a.active{ background: url(../images/common/img3.jpg) no-repeat bottom center; }
.tab-title .button{ transition-duration: 0s ;}
.tab-title .button.active-state{ background: none; transition-duration: 0s }

/* 投资详情 */
.invesinfo .card-header img{ max-width: 100%;}
.order-infom .col-33{ text-align: center; padding-top: 25px;}
.order-infom .col-33 span{ color: #ee130c; font-weight: bold;}
.order-infom .col-33 p{ margin: 0; color: #5d5d5f;}
.project-explain{ color: #999; height: 0.9rem; text-indent: -3.5rem; padding:2rem 0 2rem 4rem; 
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal; }
.lookmore{ text-align: center; color: #425383; display: block; margin-top: 15px;}
.ordergroup input{ width: 100%;}
.content-block .ordergroup{margin-top: 10px; padding-top: 10px;}
.content-block .ordergroup .ordernum{ background: #eef0f2 !important; height: 36px; line-height: 36px; padding-left: 15px; border: 0; box-sizing: border-box;}
.content-block .ordergroup .button{ background: #425383; color: #fff; border: 0; margin-top: 20px;}
.bar{ width: 100%; height: 10px; background: #f3f4f6;}

.massageinfo .title{ font-size: 16px; color: #393639; background: url(../images/common/img1.png) no-repeat left center; padding-left: 20px;}
.massageinfo p{ line-height: 26px; margin: 0; color: #666;}

.massageinfo .list-block .item-after{max-height: 100px; width: 50%; text-align: right; white-space: normal;}


/* 预约记录 */
.orderrecord .title{ font-size: 16px; color: #393639; background: url(../images/common/img1.png) no-repeat left center; padding-left: 20px; margin: 15px 30px;}
.record-list{list-style: none; padding: 0;}
.record-list li{height: 120px; background: #fff; margin-bottom: 10px; padding: 0 20px;}
.record-list .time{background: #425383; color: #fff; height: 120px; float: left; padding: 10px; box-sizing: border-box; text-align: center;}
.record-list .time  span{ display: block; font-size: 18px; line-height: 30px; border-bottom: 1px solid #757e9a; margin-top: 15px;}
.record-list .time i{ font-size: 14px; line-height: 40px; font-style: normal;}
.record-list .list-after{float: left; padding: 22px 5px; margin-left: 1%;}
.record-list .list-after .head{ float: left; width: 57px; height: 57px; border-radius: 50%; margin-right: 10px; margin-top: 10px;  box-sizing: border-box;}
.record-list .list-after .headafter{float: right;}
.record-list .list-after .headafter .username{color: #888;}
.headafter p{ color: #303030;}



















