.header .center{ width: 50%;}
.header .center img{max-width: 100%;}


.swiper-slide img{max-width: 100%;}
.navbar-fixed.index .page-content{ padding-top: 0;}
.index .navbar{ background: transparent;}

.xifuinfo{ background: #425383; color: #fff; text-align: center; padding: 10px 15px; font-family: "microsoft yahei"; font-size: 12px; line-height: 22px; position: relative; margin-top: -90px; z-index: 99;}


.isade-nav .logo img{ max-width: 100%;}
.isade-nav .login-regedit span{ display: block; width: 50px; height: 50px; }
.isade-nav .login-regedit span img{max-width: 100%;}
.isade-nav .login-regedit a{ display: inline-block; text-align: center;}





































